$white                 : #ffffff;
$white-gray            : #F8F8F8;
$black                 : #000000;
$main-bg-color         : #f1f2f0;
$accent-blue           : #37bbe4;
$accent-gray           : #e1e0dd;
$accent-black          : #35342f;
$accent-orange         : #ec6b2d;
$accent-red            : #dd6464;
$gray                  : #B3B3B3;
$light-gray            : #ddd; 
$light-gray-1          : #F6F6F6; 
$light-gray-2          : #E8E8E8;
$dark-gray             : #4a4a4a; 
$dark-gray-1           : #292929; 
$dark-gray-2           : #1d1d1d; 
$google-color          : #D5402C;
$facebook-color        : #3B5998;
$pink                  : #ED002C;
$custom-check-border   : #c1c1c1;
$sidebar-gray          : #929292;
$modal-gray            : #9E9E9E;
$modal-bg-gray         : #F9F9F9;