@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);


$raleway                    : 'Raleway', sans-serif;
$sf-text-regular            : 'SF Text Regular', sans-serif;
$sf-text-semobold           : 'SF Text Semibold', sans-serif;
$circular-std-regular       : 'Circular Std Book', sans-serif;
$circular-std-medium        : 'Circular Std Medium', sans-serif;
$circular-std-bold          : 'Circular Std Bold', sans-serif;
$bell-mt-regular            : 'Bell MT Regular', sans-serif;
