.modal-backdrop{
  &.in {
    opacity: .8;
  }
}
.product-modal-wrapper{
  .modal-header{
    padding: 0;
    height : 0;
    border : 0;
    .close{
      color    : $black;
      font-size: 35px;
      padding  : 0;
      position : absolute;
      right    : 20px;
      top      : 10px;
      opacity  : 1;
      z-index  : 9;
    }
  }
  .modal-content{
    @include border-radius(0);
  }
  .modal-body{
    padding: 0;
  }
  .product-details-wrapper{
    padding: 35px; 
    img{
      margin: 0 auto;
    }
    .item-meta{
      padding: 0;
    }
    .item-title{
      font-size: 23px;
      margin   : 10px 0;
    }
    .site{
      font-size: 18px;
      display  : inline-block;
      margin   : 0 0 10px;
    }
    .rate{
      .old{
        color: $modal-gray;
      }
      font-size  : 18px;
      line-height: 28px;
    }
    .social-share{
      li{
        a{
          color    : $modal-gray;
          font-size: 20px;
          display  : inline-block;
          padding  : 2px;
          @include transition(all 0.3s ease-in-out);
          &:hover{
            color: $black;
          }
        }
      }
    }
    .description{
      color        : $modal-gray;
      font-size    : 16px;
      line-height  : 26px;
      margin-bottom: 20px;
    }
    .available-size{
      margin-bottom: 40px;
    }
    .like-wrapper{
      .btn{
        color           : $modal-gray;
        margin-right    : 10px;
        height          : 40px;
        min-width       : 40px;
        padding         : 0 10px;
        background-color: transparent;
        @include transition(all 0.3s ease-in-out);
        &:last-of-type{
          margin-right: 0;
        }
        i{
          font-size: 20px;
        }
        &:nth-of-type(2){
          font-size  : 40px;
          line-height: 20px;
        }
        &:last-of-type{
          i{
            margin-top: 3px;
          }
          span{
            display       : inline-block;
            margin-top    : 3px;
            vertical-align: top;
            margin-left   : 4px;
          }
        }
        &:hover{
          color       : $black;
          border-color: $black;
        }
      }
    }
    .btn-black{
      padding  : 0;
      height   : 40px;
      min-width: 100%;
      border   : 1px solid $black;
    }
  }
  .modal-divider{
    height          : 70px;
    background-color: $modal-bg-gray;
  }
  .similiar-product-wrapper{
    padding: 35px;
    img{
      margin: 0 auto;
    }
    h3{
      font-size     : 20px;
      text-transform: uppercase;
      margin        : 0 0 35px;
    }
    .item{
      margin-bottom: 0;
      cursor       : default;
    }
    .site{
      color  : $modal-gray;
      opacity: 1;
    }
    .rate{
      span:last-of-type{
        color          : $modal-gray;
        text-decoration: none;
        margin         : 0;
      }
    }
    .btn-like{
      color  : $modal-gray;
      border : 0;
      padding: 0;
      &:hover, &:focus, &:active{
        background-color: transparent;
        @include box-shadow(none);
      }
    }
  }
}

/*--  Media Styles  --*/
@media(min-width: 768px) and (max-width: 991px){
  .product-modal-wrapper{
    .similiar-product-wrapper{
      .item{
        margin-bottom: 30px; 
      }
    }
  }
}

@media(min-width: 320px) and (max-width: 767px){
  .product-modal-wrapper{
    .product-details-wrapper{
      padding: 20px;
    }
    .modal-divider{
      height: 40px;
    }
    .similiar-product-wrapper{
      padding: 20px;
      h3{
        margin-bottom: 20px;
      }
      .item{
        margin-bottom: 20px; 
        img{
          width    : 100%;
          max-width: 350px;
        }
      }
    }
  }
}

@media(min-width: 320px) and (max-width: 550px){
  .product-modal-wrapper{
    .col-xxs-12{
      width: 100%;
    }
    .like-wrapper{
      text-align   : center;
      margin-bottom: 20px;
    }
  }
}